<footer class="footer">
    <div class="container">
        <div class="row mb-90">
            <div class="col-md-10 offset-md-1">
                <div class="inTouch text-center">
                    <h1 class="pri-heading">
                        Keep in touch with us
                    </h1>
                    <h2 class="sec-heading mb-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
                        tristique
                        bibendum. Donec rutrum sed sem quis venenatis.
                    </h2>
                    <div class="form-group mb-90">
                        <form class="d-flex">
                            <input type="text" class="form-control" placeholder="Enter your email to update">
                            <input type="submit" class="btn-primary ml-4" value="submit">
                        </form>
                    </div>
                    <app-icons [iconsArray]="arr" [ulClassName]="'socialIcons'"></app-icons> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-icons [iconsArray]="footerLink1" [ulClassName]="'footerLink'"></app-icons>
            </div>
            <div class="col-md-1 col-6 offset-md-1">
                <app-icons [iconsArray]="footerLink2" [ulClassName]="'footerLink'"></app-icons>
            </div>
            <div class="col-md-1 col-6 offset-md-1">
                  <app-icons [iconsArray]="footerLink2" [ulClassName]="'footerLink'"></app-icons>
            </div>
            <div class="col-md-1 col-6 offset-md-1">
                  <app-icons [iconsArray]="footerLink2" [ulClassName]="'footerLink'"></app-icons>
            </div>
            <div class="col-md-1 col-6 offset-md-1">
                  <app-icons [iconsArray]="footerLink2" [ulClassName]="'footerLink'"></app-icons>
            </div>
        </div>
    </div>
</footer>



<!-- <app-icons [iconsArray]="arr" [ulClassName]="'socialIcons'"></app-icons> -->